@model SecurityGuard.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SecurityGuard/Views/Shared/_SecurityGuardLayoutPage.cshtml";
    
}
<h2>
    Manage Users and Roles</h2>
 <div class="bread_title">
                    <div class="bread_navigation">
                        <ul>
                            <li>  @Html.ActionLink("Home", "Index", "Home", new { area = "" },null)    </li>
                            <li class="lastactive">
                                 User Management
                            </li>
                        </ul>
                    </div>
 </div>

<div class="fl w48pc mr20">
    <fieldset>
        <legend>Manage Users</legend>
        <p style="margin-bottom:20px;"> @Html.ActionLink("Manage Users", "Index", "Membership", new { area = "SecurityGuard" }, null)
            | @Html.ActionLink("Create User", "CreateUser", "Membership", new { area = "SecurityGuard" }, null)   <p>
       
        <table class="table table-striped table-condensed dTableR dataTable">
            <tr>
                <td>
                    Total Users:
                </td>
                <td>@Model.TotalUserCount
                </td>
            </tr>
            <tr>
                <td>
                    Users Online:
                </td>
                <td>@Model.TotalUsersOnlineCount
                </td>
            </tr>
        </table>
    </fieldset>
</div>
<div class="fr w48pc">
    <fieldset>
        <legend>Manage Roles</legend>
        <p style="margin-bottom:20px;">@Html.ActionLink("Manage Roles", "Index", "Role", new { area = "SecurityGuard" }, null)  
        </p>
        <table class="table table-striped table-condensed dTableR dataTable">
            <tr>
                <td>
                    Total Roles:
                </td>
                <td>@Model.TotalRolesCount
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </fieldset>
</div>
 