@model FMS.Models.tbl_fuel_stations

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Fuel Station</h2>
<div class="bread_title">
    <div class="bread_navigation">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="lastactive">@Html.ActionLink("List of Fuel Stations", "Index")</li>
        </ul>
    </div>
</div>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Fuel Station</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
           Fuel Station 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FuelStation)
            @Html.ValidationMessageFor(model => model.FuelStation)
        </div>

        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

