@model IEnumerable<FMS.Models.GeneralClassFields>
@{
    decimal TotalAmt = 0;
}
<form id="frmlogSheetList" enctype="multipart/form-data" method="post">
<input type="hidden" id="hdnfromdate" name="hdnfromdate" value="@ViewBag.StartDate" />
<input type="hidden" id="hdntodate" name="hdntodate" value="@ViewBag.EndDate" />
<input type="hidden" id="hdnVehicleID" name="hdnVehicleID" value="@ViewBag.VehId" />
<input type="hidden" id="hdnBooking" name="hdnBooking" value="@ViewBag.BookingId" />
<fieldset>
    <legend>LogSheet Details</legend>
    @if (Model.Count() == 0 || Model == null)
    {
        <h2 style="text-align: center;">
            No LogSheets are available
        </h2>   
    }
    else
    {
        <p style="font-weight: bold; font-size: 12px; color: Red;" class="nonPrintable">
            Please select the logsheets to comes under invoice amount and click on generate
            invoice.</p>
        <table class="table table-striped table-condensed dTableR dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.CheckBox("chklogAll") &nbsp; All
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Client
                    </th>
                    <th>
                        LogSheet#
                    </th>
                    <th>
                        Vehicle
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Rate
                    </th>
                </tr>
            </thead>
            <tbody>
                @{ TotalAmt = 0; }
                @foreach (var item in Model)
                {
                    <tr class="nonPrintable">
                        <td>
                            @Html.CheckBox("chkLogId_" + item.ID, new { @class = "chkPrint chklogSheet" })
                        </td>
                        <td>
                            @item.Date1.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @item.Text1.ToUpper()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text3)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text4)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value2)
                            @{ TotalAmt += item.Value2;  }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot class="nonPrintable">
                <tr>
                    <td colspan="6" style="text-align: right;">
                        Total
                    </td>
                    <td>
                        @Html.Encode(String.Format("{0:N}", TotalAmt))
                    </td>
                </tr>
            </tfoot>
        </table>
        <div id="dieselTrackDiv">
        </div>
        <div id="AdvanceDetails">
        </div>
        <input type="button" value="Generate Invoice" id="btnGenInv" class="nonPrintable" />
    }
</fieldset>
</form>
<script type="text/javascript" language="javascript">

    $('#btnGenInv').click(function () {
        if (confirm('Are you sure want to Generate Invoice ?')) {
            GetLogSheetsPost();
        }
    });

    $('#chklogAll').change(function () {
        if ($(this).is(':checked')) {
            $('.chklogSheet').each(function () {
                $(this).attr('checked', true);
            });
        }
        else {
            $('.chklogSheet').each(function () {
                $(this).attr('checked', false);
            });
        }
    });

    $('.chklogSheet').change(function () {
        var StatusVal = 0;
        $('.chklogSheet').each(function () {
            var IsChecked = $(this).is(':checked');
            if (IsChecked) {
                StatusVal = 1;  // If Status is one then uncheck  
            }
            else {
                if (StatusVal == 1) { // If Status is one then uncheck 
                    StatusVal = 1; // If Status is one then uncheck 
                }
                else {
                    StatusVal = 0 // If Status is zero then check 
                }
            }
        });
        if (StatusVal == 1) {
            $('#chklogAll').attr('checked', false);
        }
    });

    function GetLogSheetsPost() {
        $('#div_loading').fadeIn('slow');
        $.post('/VendorInvoice/GetLogSheets', $('#frmlogSheetList').serialize(), function (data) {
            if (data.success) {
                if (data.msg == "") {
                    if (data.dieselAmt > 0) {
                        if (confirm('Are you sure want to Generate Invoice with diesel amount (' + data.dieselAmt + ') ?')) {
                            GetDieselDetailsByVehicle();
                        }
                        else {
                            if (data.advAmt > 0) { // If Advance Amount is exist ask him to add in invoice or not
                                if (confirm('Are you sure want to Generate Invoice with advance amount (' + data.advAmt + ') ?')) {
                                    // Call Advance List Method ===> Send hasDiesel as False 
                                    GetAdvanceDetailsByVehicle(false);
                                }
                                else {
                                    // Confirm cancel for Advance amount and Do Generate Invoice 
                                    $('#div_loading').fadeOut('slow');
                                    DownloadExcel();
                                    GenerateInvoice(false, false, null, null);
                                }
                            }
                            else {  // If No Advance Amount Do Generate Invoice
                                $('#div_loading').fadeOut('slow');
                                DownloadExcel();
                                GenerateInvoice(false, false, null, null);
                            }
                        }
                    } // If No Diesel amount is exist but advance amount is there 
                    else if (data.advAmt > 0) {
                        if (confirm('Are you sure want to Generate Invoice with advance amount (' + data.advAmt + ') ?')) {
                            // Call Advance List Method ===> Send hasDiesel as False 
                            GetAdvanceDetailsByVehicle(false);
                        }
                        else { // Confirm cancel for Advance Amount & Do Generate Invoice 
                            $('#div_loading').fadeOut('slow');
                            DownloadExcel();
                            GenerateInvoice(false, false, null, null);
                        }
                    }
                    else {
                        // For Booking
                        $('#div_loading').fadeOut('slow');
                        DownloadExcel();
                        GenerateInvoice(false, false, null, null);
                    }
                }
                else {
                    $('#div_loading').fadeOut('slow');
                    DownloadExcel();
                    GenerateInvoice(false, true, null, null);
                }
            }
            else {
                alert(data.msg);
            }
        });
        $('#div_loading').fadeOut('slow');
    }

    $('.chkPrint').change(function () {
        var id = $(this).attr('id');
        var Ischecked = $(this).is(':checked');
        if (Ischecked) {
            $('#' + id).parent().parent().removeClass('nonPrintable');
        } // checked 
        else {
            $('#' + id).parent().parent().addClass('nonPrintable');
        }
    });

    
</script>
