@model IEnumerable<FMS.Models.tbl_veh_emis>
@{
    decimal fineTotAmt = 0;
    decimal TotAmt = 0;
}           
<form id="frmVehEMIList" enctype="multipart/form-data" method="post">
<input type="hidden" id="hdnVehicleID" name="hdnVehicleID" value="@ViewBag.VehId" />
<input type="hidden" id="hdnMonthYear" name="hdnMonthYear" value="@ViewBag.MonthYear" />
<input type="hidden" id="hdnhasDiesel" name="hdnhasDiesel" value="@ViewBag.hasDiesel" />
<input type="hidden" id="hdnhasAdv" name="hdnhasAdv" value="@ViewBag.hasAdv" />
<fieldset>
    <legend>Vehicle EMIs Details</legend>
    @if (Model.Count() == 0 || Model == null)
    {
        <h2 style="text-align: center;">
            No vehicle EMIs details are available
        </h2>   
}
    else
    {          
        <p style="font-weight: bold; font-size: 12px; color: Red;" class="nonPrintable">
            Please select the vehicle EMIs to comes under invoice amount and click on generate
            invoice.</p>
        <table class="table table-striped table-condensed dTableR dataTable">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        EMI No
                    </th>
                    <th>
                        Month Year
                    </th>
                    <th>
                        Pay Mode
                    </th>
                     <th>
                        Fine Amt.
                    </th>
                    <th>
                        Amount
                    </th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                             @Html.CheckBox("chkVehEMI_" + item.Id, new { @class = "chkPrint" }) 
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMINo)
                        </td>
                        <td>
                            @String.Format("{0:MMMM,yyyy}", item.MonthYear.Value.ToString("Y", new System.Globalization.CultureInfo("en-Us")))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Paymode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FineAmt)
                        </td>
                         <td>
                            @String.Format("{0:N}", item.Amount)
                            @{
                                fineTotAmt += (decimal)(item.FineAmt == null ? 0 : item.FineAmt);
                                TotAmt += (decimal)item.Amount;
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td style="text-align:right;" colspan="4">
                        Total
                    </td>
                    <td>
                        @String.Format("{0:N}",fineTotAmt)
                    </td>
                    <td>
                        @String.Format("{0:N}",TotAmt)
                    </td>
                </tr>
            </tfoot>
        </table>
       <input type="button" value = "Generate Invoice " id="btnAddEMIAmountInv" class="nonPrintable" />
    }
</fieldset>
</form>

<script type="text/javascript" language="javascript">
    $('#btnGenInv').hide();
    $('#btnAddDieselAmountInv').hide();
    $('#btnAddAdvanceAmountInv').hide();
    $('#btnAddEMIAmountInv').click(function () {
        if (confirm('Are you sure want to Generate Invoice ?')) {
            GetVehicleEMIPost();
        }
    });

    function GetVehicleEMIPost() {

        $.post('/VendorInvoice/GetEMIAmountByVehicle', $('#frmVehEMIList').serialize(), function (data) {
            if (data.success) {
                
                if (data.IsDriverAmt == true) {

                    if (confirm('Are you sure want to include driver salary')) {
                        $('#div_loading').fadeIn('slow');
                        DriverSalaryDetails('@ViewBag.MonthYear', '@ViewBag.hasDiesel', '@ViewBag.hasAdv', true);
                    }
                    else {
                        $('#div_loading').fadeIn('slow');
                        GenerateInvoice('@ViewBag.hasDiesel', '@ViewBag.hasAdv', true, false);
                    }
                }
                else {
                    $('#div_loading').fadeIn('slow');
                    GenerateInvoice('@ViewBag.hasDiesel', '@ViewBag.hasAdv', true, false);
                }
            }
            else {
                alert(data.msg);
            }
        });
        $('#div_loading').fadeOut('slow');
    }
    
    
</script>