@model FMS.Models.tbl_clients

@{
    ViewBag.Title = "Client Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="../../Content/jquery.stepy.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/jquery.stepy.min.js" type="text/javascript"></script>
<h2>View [ @Model.CompanyName.ToString().ToUpper() ] Details</h2>
 <div id="div_loading" align="center" style="padding-right: 25px; z-index: 3; padding-left: 25px;
        left: 45%; top: 40%; padding-bottom: 15px; padding-top: 15px; position: absolute;">
        <h4>
            </h4>
        <img "../../Content/images/loading-icon.gif"  alt="Loading..."/ >
    </div>
 <div class="bread_title">
                    <div class="bread_navigation">
                        <ul>
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="lastactive">@Html.ActionLink("List of Clients", "Index")</li>
                        </ul>
                    </div>
            </div>
<form id="callback">
 <fieldset title="Client Details" class="step" id="callback-step-1" style="display: block;
            width: 98%">
        <legend>View Details</legend>
     <table style="width: 100%;">
         <tr>
             <td style="width: 60%">
                 <table class="table table-striped table-condensed dTableR dataTable">
                     <tr>
                         <td>
                             Comapny Name :
                         </td>
                         <td>
                             @Html.DisplayFor(a => a.CompanyName).ToString().ToUpper()
                         </td>
                     </tr>
                     
                     <tr>
                         <td>
                             Address :
                         </td>
                         <td>
                             @Html.DisplayFor(model => model.Address).ToString().ToUpper()
                         </td>
                     </tr>
                     <tr>
                         <td>
                             Phone Number :
                         </td>
                         <td>
                             @Html.DisplayFor(model => model.PhoneNumber)
                         </td>
                     </tr>
                     <tr>
                         <td>
                             Agreement Document :
                         </td>
                         <td>
                             @if (Model.AgreementDocument != null)
                                                                                                          {
                                 <img src="../../Content/uploadimages/@Model.AgreementDocument" width="90" height="90" alt="Photo" />
                                                                                                          }
                                                                                                          else
                                                                                                          {
                                 <img src="../../Content/uploadimages/user-avatar.jpg" width="90" height="90" alt="Photo" />}
                         </td>
                     </tr>
                     <tr>
                         <td>
                             Billing Type :
                         </td>
                         <td>
                             @Model.tbl_billing_types.BillingType.ToString().ToUpper()
                         </td>
                     </tr>
                 </table>
             </td>
             <td style="width: 40%">
                 &nbsp;
             </td>
         </tr>
     </table>
    </fieldset>
 <fieldset title="Client Rate" class="step" id="callback-step-2" style="width: 98%;">
        <legend>Rate Details</legend>
        <table style="width: 100%;margin-bottom:25px;">
            <tr>
                <td style="vertical-align: top;">
                    <h2> @Model.tbl_billing_types.BillingType Chart Rate </h2>
                    <div id="divAddedClientRateList">
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
      <fieldset title="Log Sheet Format" class="step" id="callback-step-3" style="width: 98%">
        <legend>View Log Sheet</legend>
        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td colspan="2" style="vertical-align: top;">
                    <div id="divViewlogSheetFormat" >
                    </div>
                </td> 
            </tr>
        </table>
        <br /><br />
    </fieldset> 
     <fieldset title="Documents" class="step" id="callback-step-4" style="display: block; width: 98%">
        <legend>Document Details</legend>
        <table style="width:100%;">
        <tr>
        <td style="width:50%">
        <div id="ViewClientDocumentDetailsdiv"></div>    
        </td>
        <td style="width:50%">
            &nbsp;
        </td>
        </tr>
        </table>
        <br /><br />
    </fieldset>
</form>
<script type="text/javascript">
    $("#div_loading").hide();
    $('#callback').stepy({ titleClick: true, select: function (index) {
        switch (index) {
            case 1:
                break;
            case 2:
                var ClientId = '@Model.ID';
                ClientRateChartList(ClientId);
                break;
            case 3:
                ViewLogSheetFormat('@Model.ID');
                break;
            case 4:
                ViewClientDocuments('@Model.ID');
                break;
        }
    }
    });
function ClientRateChartList(ClientID) {
    $("#div_loading").fadeIn('slow');
    $.ajax(
    {
        type: "GET",
        url: "../../Client/GetClientRateList",
        data: "ClientID=" + ClientID,
        dataType: "html",
        success: function (result) {
            $('#divAddedClientRateList').html(result);
            $(".btnKMDelete").hide();
            $(".btnSBDelete").hide();
            $("#div_loading").fadeOut('slow');
        },
        error: function (error) {
            //alert(error);
        }
    });
}
function ViewClientDocuments(ID) {
    $("#div_loading").fadeIn('slow');
    $.ajax({
        type: "GET",
        url: "/Client/LoadDocumentsListByClient",
        data: "ClientID=" + ID,
        dataType: "html",
        success: function (result) {
            $('#ViewClientDocumentDetailsdiv').html(result);
            $("#div_loading").fadeOut('slow');
        },
        error: function (error) {
            alert(error);
        }
    });
}
// LogSheet Format View Tab
function ViewLogSheetFormat(ClientID) {
    $("#div_loading").fadeIn('slow');
    $.ajax(
    {
        type: "GET",
        url: "../../Client/LogSheetFormat",
        data: "ClientID=" + ClientID,
        dataType: "html",
        success: function (result) {
            $('#divViewlogSheetFormat').html(result);
            $("#div_loading").fadeOut('slow');
        },
        error: function (error) {

        }
    });
}
</script>
    