@model IEnumerable<FMS.Models.GeneralClassFields>
    @{
    decimal GrandTotAmt = 0;
    }
    <p style="margin-top:10px;">
        No of entries @(ViewBag.ListCount) showing
    </p>s
    <table class="table table-striped table-condensed dTableR dataTable">
        <thead>
            <tr>
                <th>
                    Invoice Date
                    <input type="hidden" id="hdnfromdate" name="hdnfromdate" value="@ViewBag.FromDate" />
                    <input type="hidden" id="hdntodate" name="hdntodate" value="@ViewBag.ToDate" />
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Vehicle Reg No#
                </th>

                <th style="text-align: right;">
                    Invoice Amount
                </th>
                <th></th>
            </tr>
        </thead>
        @{
        GrandTotAmt = 0;
        }
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.Encode(String.Format("{0:dd/MM/yyyy}", item.Date1))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text2)
                </td>

                <td style="text-align: right;">
                    @Html.Encode(String.Format("{0:N}", item.Value2))
                    @{GrandTotAmt += item.Value2;}
                </td>
                <td style="text-align: right;"> <a href="#" onclick="GenarateInvoice('@item.ID')">Generate Invoice</a></td>
            </tr>
            }
            <tr style="font-size: 14px;font-weight:bold;">
                <td></td>
                <td>
                    Grand Total :
                </td>
                <td></td>
                <td style="text-align: right;">
                    @Html.Encode(String.Format("{0:N}", GrandTotAmt))
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <p style="float:right;">
        Generated on  @String.Format("{0:MMM , dd yyyy hh:mm tt}", DateTime.Now.ToString(new System.Globalization.CultureInfo("en-Us")))
    </p>
    <script type="text/javascript">
        function GenarateInvoice(VehicleID) {
            var StartDate = $("#hdnfromdate").val();
            var EndDate = $("#hdntodate").val();
            $('#div_loading').fadeIn('slow');
            window.location = "/VendorInvoice/Invoice?StartDate=" + StartDate + "&EndDate=" + EndDate + "&vehicleId=" + VehicleID + "";
        }
    </script>
