@{
    ViewBag.Title = "Audited LogSheet Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Audited LogSheet Report</h2>

@{
    var clientList = (Dictionary<long, string>)ViewBag.ClientID;
    var VehicleList = (Dictionary<long, string>)ViewBag.VehicleID;
}
 
<div class="bread_title">
    <div class="bread_navigation">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="lastactive">@Html.ActionLink("Report", "Reports", "Home")</li>
        </ul>
    </div>
</div>
<div id="div_loading" align="center" style="padding-right: 25px; z-index: 3; padding-left: 25px;
    left: 40%; top: 50%; padding-bottom: 15px; padding-top: 15px; position: fixed;">
    <img src="../../Content/images/layout/loading.gif" alt="Loading..." />
</div>
<form id="frmAuditLogSheetReport" enctype="multipart/form-data" method="post">
<div style="height: 30px; padding-bottom: 10px; padding-top: 10px; background-color: #F5F5F5;">
    <table>
        <tr>
            <td>
                From Date
            </td>
            <td>
                @Html.TextBox("StartDate", "", new { @style = "width:150px;" })
            </td>
            <td>
                To Date
            </td>
            <td>
                @Html.TextBox("EndDate", "", new { @style = "width:150px;" })
            </td>
            <td>
                <input type="radio" name="Selection" value="Client" />&nbsp;<label class="clslabel">Client</label>
                <input type="radio" name="Selection" value="Vehicle" />&nbsp;<label class="clslabel">Vehicle</label>
                <input type="radio" name="Selection" value="LogSheet" />&nbsp;<label class="clslabel">LogSheet</label>
            </td>
            <td style="display: none;" id="td_selectionmode">
                <div id="clientDiv" style="display: none;">
                    <div class="side-by-side clearfix">
                        <select id="ClientID" data-placeholder="Select Client..." class="chzn-select" multiple
                            style="width: 250px;">
                            <option value=""></option>
                            @foreach (var item in clientList.Keys)
                            {
                                <option value="@item">
                                    @clientList[item]
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div id="VehicleDiv" style="display: none;">
                    <div class="side-by-side clearfix">
                        <select id="VehicleID" data-placeholder="Select Vehicle..." class="chzn-select" multiple
                            style="width: 250px;">
                            <option value=""></option>
                            @foreach (var item in VehicleList.Keys)
                            {
                                <option value="@item">
                                    @VehicleList[item]
                                </option>
                            }
                        </select>
                    </div>
                </div>
                @Html.TextBox("LogSheetNum", "", new { @style = "width:250px",  @class = "txtAutoComplete" })
                <input type="hidden" id="logId" name="logId" />
            </td>
            <td>
                <input type="button" value="Get Report" id="btnGetAuditReport" />
            </td>
            <td> 
             @*<input type="button" value="Export To Excel" id="btnExportExcel" onclick="MISReportExportExcel()"/>*@
             </td>
              
        </tr>
    </table>
</div>
</form>
<div id="AuditLogSheetDivData">
</div>
<script src="../../Scripts/jquery.autocomplete.js" type="text/javascript"></script>
<script src="../../Scripts/chosen.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    var config = {
        '.chzn-select': {},
        '.chzn-select-deselect': { allow_single_deselect: true },
        '.chzn-select-no-single': { disable_search_threshold: 10 },
        '.chzn-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chzn-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
    // Auto Complete for Vehicle Reg Number
    $("#LogSheetNum").autocomplete("/Penalty/getLogSheetNumber/", { minChars: 2, matchContains: true, onItemSelect: OnselectItem });
    function OnselectItem(li) {
        $('#logId').val(0);
        if (li == null) $('#logId').val(0);
        if (!!li.extra) {
            var sValue = li.extra[0];
        }
        else var sValue = li.selectValue;
        $('#logId').val(sValue);
    }
    $('input:radio[name=Selection]').filter('[value="Client"]').attr('checked', true);
    $('#td_selectionmode').show();
    $('#clientDiv').show();
    $('#LogSheetNum').hide();

    $('#div_loading').hide();
    var frmDate, toDate;
    var myDate = new Date();
    var dd = myDate.getDate();
    var mm = myDate.getMonth() + 1;  //January is 0!
    var yyyy = myDate.getFullYear();
    if (dd < 10) { dd = '0' + dd }
    if (mm < 10) { mm = '0' + mm }
    var TodayDate = dd + '/' + mm + '/' + yyyy;

    $("#StartDate").val('01' + '/' + (mm) + '/' + yyyy);
    $("#EndDate").val(TodayDate);
    $('#StartDate').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy',
        onSelect: function (selected) {
            $("#EndDate").datepicker("option", "minDate", selected);
        }
    });
    $('#EndDate').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy',

        onSelect: function (selected) {
            $("#StartDate").datepicker("option", "maxDate", selected);
        }
    });
    $("input:radio[name=Selection]").click(function () {
        var value = $(this).val();
        if (value == "Client") {
            $('#td_selectionmode').show();
            $('#clientDiv').show();
            $('#VehicleDiv').hide();
            $('#LogSheetNum').val(''); $('#logId').val('');
            $('#LogSheetNum').hide();
        }
        else if (value == "LogSheet") {
            $('#td_selectionmode').show();
            $('#clientDiv').hide();
            $('#VehicleDiv').hide();
            $('#LogSheetNum').show();
        }
        else {
            $('#td_selectionmode').show();
            $('#VehicleDiv').show();
            $('#clientDiv').hide();
            $('#LogSheetNum').val(''); $('#logId').val('');
            $('#LogSheetNum').hide();
        }
    });
    $('#btnGetAuditReport').click(function () {
        $('#div_loading').fadeIn('slow');
        var ClientID = $('#ClientID').val();
        var VehicleID = $('#VehicleID').val();
        var StartDate = $('#StartDate').val();
        var EndDate = $('#EndDate').val();
        if (StartDate == '') {
            alert('Please select start date');
            $('#StartDate').focus();
            return false;
        }
        if (EndDate == '') {
            alert('Please select end date');
            $('#EndDate').focus();
            return false;
        }
        $.post("/Reports/AuditLogSheetReport?ClientID=" + ClientID + "&VehicleID=" + VehicleID, $("#frmAuditLogSheetReport").serialize(), function (result) {
            $("#AuditLogSheetDivData").html(result);
            $('#div_loading').fadeOut('slow');
        });
    });
    function MISReportExportExcel() {
        window.location.href = "/Reports/MISReportExportExcel";
    }
     
</script>

