@model IEnumerable<FMS.Models.tbl_odometer_readings>
@using FMS.Models;
@{
    ViewBag.Title = "Odometer Reading";
}
<h2>
    Odometer Reading</h2>
<div class="bread_title">
    <div class="bread_navigation">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            @if ((bool)core.GetUserAccess(60, User.Identity.Name).Add)
            { <li class="lastactive">@Html.ActionLink("Add New Odo meter", "Create", "ODOMeter")</li> }
        </ul>
    </div>
</div>
 
<table class="table table-striped table-condensed dTableR dataTable" id="dt_a">
    <thead>
    <tr>
        <th>
            Vehicle Reg#
        </th>
        <th>
            Mode Of Entry
        </th>
        <th>
            ODM Date
        </th>
        <th>
            Reading Value
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_vehicles.VehicleRegNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeOfEntry)
            </td>
            <td>
                @Html.Encode(item.ODMDate.Value.Date.ToShortDateString())
            </td>
            <td>
                @Html.Encode(item.ReadingValue)
            </td>
            <td>
                <a id="lnkedit" onclick="EditOdometerReading(@item.Id)" href="#">Edit</a>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @onclick = "return confirm('Are you sure you want delete this reading ?')" })
            </td>
        </tr>
    }
    </tbody>
</table>
<div id="divSimpleModal" style="display: none; overflow: auto" class="simplemodal-widget">
    <div id="div_loading" align="center" style="padding-right: 25px; z-index: 3; padding-left: 25px;
        left: 45%; top: 35%; padding-bottom: 15px; padding-top: 15px; position: absolute;">
        <img src="../../Content/images/layout/loader.gif" alt="Loading..." />
    </div>
    <div id="divSimpleModalDet">
    </div>
    <a class="no"></a>
</div>
<script type="text/javascript" src="../../Scripts/jquery.simplemodal-1.2.3.js"></script>
<script type="text/javascript">
    function EditOdometerReading(id) {
        $("#div_loading").fadeIn('slow');
        $("#div_loading").show();
        $('#divSimpleModal').modal
         ({
             containerCss: {
                 width: 550,
                 height: 380
             },
             close: false,
             onShow: function (dialog) {
                 dialog.data.find('.no').click(function () {
                     $.modal.close();
                 });
                 EditNewOdometerReading(id)
             }
         });
     }
     function EditNewOdometerReading(id) {
         $.ajax({
             type: "GET",
             contentType: "application/json; charset=utf-8",
             url: "/ODOMETER/Edit?id="+id,
             dataType: "html",
             success: function (data) {
                 $("#divSimpleModalDet").html(data);
                 $("#div_loading").fadeOut('slow');
             },
             error: function (error) {
                  alert(error);
             }
         });
     }
     </script>